@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 244, 245;
  --background-start-rgb: 9, 9, 11;
  --background-end-rgb: 24, 24, 27;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

::selection {
  background: #f59e0b;
  color: #18181b;
}
